keycloak:
  production: true
  proxyHeaders: forwarded
  ingress:
    enabled: true
    tls: true
    # sops:enc
    hostname: ENC[AES256_GCM,data:bGjXQju3DRQnGQXTHkAt1LNI,iv:xf4AV7WtAuwOtnlsqKB0BcTZaGO3m2Fw2/JenNQLHWs=,tag:FBLpouQIAKSExaXnFAopmA==,type:str]
    extraHosts:
      # sops:enc
      - name: ENC[AES256_GCM,data:NWtMqLDJ8gz7YeSh3bc=,iv:VoYD5+o7/bxJVELr+S2CwMhQP1Ad5mlkLba+rOEyhl8=,tag:gYQTgoSwPvtGt4g2ffL71Q==,type:str]
        path: ENC[AES256_GCM,data:Vw==,iv:gr8GmJqXKVOYF5Z2pWLHg6ViFuF0wIcqtdCJqirlDT4=,tag:B+hFYHdBfL7s2bC11IFqoQ==,type:str]
    extraTls:
      # sops:enc
      - hosts:
          - ENC[AES256_GCM,data:XSkAtMBnoFKMHudODuE=,iv:Rv8ssf6AXj6ad36NWtT9MjwIwF8mw8XGBemOl/Yfb6c=,tag:/I4MJeluY4KsAgI0PLvtNQ==,type:str]
        secretName: ENC[AES256_GCM,data:o0qxSn7fb7wrFf8M/aD+qqFr,iv:RKgCHOHw5+8jF2GUtwP5HzBpl73Q+OPEzuPZNEb8Ds8=,tag:RP73mDMCPw4ukhDd9o9F8w==,type:str]
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      haproxy.org/backend-config-snippet: option forwarded
  adminIngress:
    enabled: true
    tls: true
    # sops:enc
    hostname: ENC[AES256_GCM,data:GuJP1d/MwYC6c4P/Fx6OAh/EXUyN7G9v,iv:Ug8QoLbAp8a0Y/la1XsX0vlVoDbfO91bA7d//NmiGy0=,tag:mQxYX+Mattz3KGvC1E4PSQ==,type:str]
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      haproxy.org/backend-config-snippet: option forwarded
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  auth:
    adminUser: admin
    # sops:enc
    adminPassword: ENC[AES256_GCM,data:Lg650KGed1OEXjjEP3OS0lTkV6N6rFCwxq24QT7qdiV5j+sRs4a+XaNhuMghOio3U4eTrkEHVt7GOwrxPBcNIP/AcarXtvA3CwsL/JLt6gNI6OltDPw8QPn3VkhaRokqcmprGF9vrEP3Lv4OsBjC1La0SEnUZacz4XjhBpD+rMk=,iv:goqwCvwJzKSixA9mNX5h160hgN/4VEWDFRB8r5cYtIM=,tag:BqDKM/0UdNfB5GTcYFenFg==,type:str]
  postgresql:
    # sops:enc
    auth:
      postgresPassword: ENC[AES256_GCM,data:LHf6B8pVLVoYqQ==,iv:nH8VLkQwZ7LwldaK27xmbWvXTbZxWNAO4i7ASmvH3X4=,tag:1MjygwTetXEZs7DKsxXtlw==,type:str]
      password: ENC[AES256_GCM,data:ux1pziIOAHTJqQ==,iv:TxD2yw1dBVUz189UC0vdQNfaH5pWMmIGLdcR/R2Tqeo=,tag:a+9ran2IWg9dTkb2/SgCjA==,type:str]
    image:
      repository: bitnamilegacy/postgresql
sops:
  age:
    - recipient: age18xjyppfrwl82jdltqtjxy8n86qlee24h5tftpgrjzp7r9pn5ecmss4pd7k
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6MG1MTm1ITDJRQkpmK2Qz
        bTlCTlUrWUk1dXpmY0RYdFhOTWVGbVdtcjI4CmpOZFhHNWNZMWZ1dGp6akUzQmlU
        OUhzSXdiZzk4NlF3aFZmc1VDVG5Bdm8KLS0tIHdiN1F3ZFlyOU1KQWtoVmx6NFNx
        bmZzL244QTZaTWF6dmcyQm9aS0kzZHcKBxqtnXFOtLbdP0zJqU493n/PHzNnqccL
        EMUVt2cshObq1bM9VXBF7u8a5UqV2oLWpBfE/ITrR1xTRSkmr6DhgQ==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-11T21:23:33Z"
  mac: ENC[AES256_GCM,data:9xiVp4W4KRJItDWXyk9VuxpUJ0FKHS4vY6hvUAw59WldPTPKg5RILMvnHF7SWzT2avbZXRcXia+J5Rx+myXa7rOEvXDQZmzLMNssf9ZykMBxfI6RwrnX9lSnRzAFnGWfa4+chj5HM/HlGRWsUai1WC9vz3BxSZVBz0eugvnsJW4=,iv:MYVOGhF8ZGuk4hUoqCI+BhRcumiXhmhpMa/tD8JD/ZM=,tag:taAfVSyK1gqFzpRIGEHeYA==,type:str]
  encrypted_comment_regex: sops:enc
  mac_only_encrypted: true
  version: 3.11.0
