keycloak:
  image:
    repository: bitnamilegacy/keycloak
    tag: 26.3.3-debian-12-r0
  production: true
  proxyHeaders: forwarded
  ingress:
    enabled: true
    tls: true
    # sops:enc
    hostname: ENC[AES256_GCM,data:nbCsgk69E5NIuPbeE14R564t,iv:2HkfQ9pfMTY3ZcMP2/M0AewQL0tIXBc+XGjvZbUX/jo=,tag:w5f00KlISRhavVS0hHec9w==,type:str]
    extraHosts:
      # sops:enc
      - name: ENC[AES256_GCM,data:0iWmLTakblTdyyKXRSk=,iv:oj7iZj+VwvP9tJEtYc2RcFeDJ+lg9PwoLenMSeeq4b8=,tag:3KeNx/Grqnt/Ig2TuTFPBw==,type:str]
        path: ENC[AES256_GCM,data:5w==,iv:Zbwtub0SOapFm0zm33VAEkxkz4MgMVOs1v2b2Dfp+u8=,tag:HZaRvCsRHFN3VV7gAuADWA==,type:str]
    extraTls:
      # sops:enc
      - hosts:
          - ENC[AES256_GCM,data:FXm6kAPJRaC0/vnc0LE=,iv:bVgD2K+uvBIvF2C9fhoX63l6gSHTAyeoLDxMq0ZiUsU=,tag:Qw+VGU60HFU8MgN50B2Zzw==,type:str]
        secretName: ENC[AES256_GCM,data:M/OCAMUh8lNbVJS0crSOGJbu,iv:5AlS6jLmxIx1g56RmpHVSOIH6XR8zsVtaaeWlEm3jL8=,tag:ojnpxvFaU8Xu4ouWm0ibtQ==,type:str]
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      haproxy.org/backend-config-snippet: option forwarded
  adminIngress:
    enabled: true
    tls: true
    # sops:enc
    hostname: ENC[AES256_GCM,data:nQZYpiSPn57kZcfLeUy20DpomcykqpuR,iv:mf3UAZY76zVsTWgHU7JVLmCPZL44h/BH1yH3JdS4ZBM=,tag:wBzpgAjBpsAPRYvF2rXGSg==,type:str]
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      haproxy.org/backend-config-snippet: option forwarded
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  auth:
    adminUser: admin
    # sops:enc
    adminPassword: ENC[AES256_GCM,data:pOMN+J7MZUNBPgD+4jXdVmuTqW3kb/pKXrZgoxIbwOFD2VZ1UndSatVR/qTjYbGvTFSEre4kvpXqr68dVCLoxubhxOG8d6dloGBvprB/spUfUPXXt7XScK/5hIhTDCNVjWB11dHDwsG6jLuG9yRnVhh3xMM4lG3ZBXN70K1zshA=,iv:HF7I03XXx58hlK7x1oyq3IYY2SRopO2M0M3eXo1isyI=,tag:Bq0uQDYNq8LNn3c8pQn3VA==,type:str]
  postgresql:
    # sops:enc
    auth:
      postgresPassword: ENC[AES256_GCM,data:wImnbtAcXhaywg==,iv:yGoBOjQ+cMI94XC6vT0koFzCELxDLQqPBaMfZVNUUOo=,tag:k1345ZtVLB0p73JsaT3ImQ==,type:str]
      password: ENC[AES256_GCM,data:GxU7iI6fLFm7ag==,iv:pBwwRMQRWlgKpj7btbCKgWp/EapYP8DUazK/6K/9Fn8=,tag:yejKyLWKetOYymcnFnYyJA==,type:str]
    image:
      repository: bitnamilegacy/postgresql
      tag: 16.6.0-debian-12-r2
sops:
  age:
    - recipient: age18xjyppfrwl82jdltqtjxy8n86qlee24h5tftpgrjzp7r9pn5ecmss4pd7k
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPc05BT2VvNTJIKyt5ZUNm
        TEJ0QTB1ZFhlWTZvczdFYnRlY0tJaHBRR0VBCnBKa29FYlNwVkdrZ0ZNMDFRK2lr
        eXM1Nnl5VDV4ZnN0WlBELy8vRjNhRTAKLS0tIFRNOW9kbEV3UGpTT1h5UjV3Zm5N
        QjJhRmxjVllDV2l2VVludy9DR3gxM0UKad00NPN6k66I+6XhR+v3TuhkdDDjhJTH
        GRJtBR/lJVFrOoCmODsVhK9YPk8EBGpo6WQ4xfSPeM9MOqLgR8ZY5g==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-11T21:28:16Z"
  mac: ENC[AES256_GCM,data:siCgKcRNgSd4lBp+CM5UnsbQ9XVXUQNU5pxSCj1ba+Gu1dARZELX/qeLr9O+0574eYIEtPbO6yHBLNI0MASZGdN+4SaJ7Kg6aQCXIxV9B3GIEWZx8CYHVCpC7nydVi5tRPtncYY6WD6vNwIKQqJOvh+UURMqJxKnyZAtIfc/eYs=,iv:i1qFu5eromz5ot6Oa9FQRp9xZ/Vv8YrID2/rmsxvKMM=,tag:3gYRy1e79V9a2Z52SJwisQ==,type:str]
  encrypted_comment_regex: sops:enc
  mac_only_encrypted: true
  version: 3.11.0
